// Place all the styles related to the News controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 #main-panel{
                background-color: #7FFFD4;  
            }
            #main-content{
                background-color: #87CEFA;    
            }
        
            h4 {
               text-align: center;
            }
           
            .nav-tabs{
              background-color: hsl(187, 11%, 68%);
            }

            
            .page-header{
              background-color: #330066;
              color: white;
              text-align: center;
              font-size: xx-large;
            }

            
